
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccd5ae;
    padding: 15px 30px;
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f9f6f6;
    font-weight: 700;
    font-size: 1.5em;
    animation: buttonGlow 1.5s infinite ease-in-out;
}

nav ul li a:hover {
    color: #050505;
    animation: pulse 0.4s ease-in-out;
}

.dashboard {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%;
    padding: 50px;
    text-align: center;
   
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
}

.welcome-message h1 {
    color: #131212;
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.welcome-message p {
    color:#131212;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.upload-section {
    margin-top: 30px;
}

.upload-btn {
    background-color: #e9edc9;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.upload-btn:hover {
    background-color: #d4a373;
    color: #fff;
}
